<!DOCTYPE html>
<html>
  <head>
    <title>Scribble</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      @import url('http://fonts.cdnfonts.com/css/soleil');
    </style>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="http://fonts.cdnfonts.com/css/soleil" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/react-quill@1.3.3/dist/quill.snow.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
