<!DOCTYPE html>
<html>
  <head>
    <title>Scribble</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/react-quill@1.3.3/dist/quill.snow.css">
    <script type="text/javascript">window.dolphinLogo = "<%= image_url('dolphin_logo.png') %>";</script>
    <script type="text/javascript">window.loginBG = "<%= image_url('loginBG.png') %>";</script>
    <script type="text/javascript">window.googleLogo = "<%= image_url('google-logo.png') %>";</script>
    <script type="text/javascript">window.appleLogo = "<%= image_url('apple-logo.svg') %>";</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
